@using Library.Domain.ViewModel.User
@model EditUserProfileViewModel

<form method="post" asp-action="EditUserProfile">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    <div>
        <label asp-for="FirstName">First name</label>
        <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="LastName">Last name</label>
        <input asp-for="LastName" class="form-control" placeholder="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="UserName">User name</label>
        <input asp-for="UserName" class="form-control" placeholder="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>