@using Library.Domain.Entity
@model Publisher


<h2>Delete Publisher</h2>

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Contacts:</td>
        <td>@Model.ContactInfo</td>
    </tr>
</table>

<p>Are you sure you want to delete this Publisher?</p>

<form asp-controller="Publisher" asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-controller="Publisher" asp-action="Index">Cancel</a>
</form>




