@using Library.Domain.Entity
@model List<MenuItem>

@if (Model != null)
{
    <ul>
        @foreach (var menuItem in Model)
        {
            <li><a href="@menuItem.Url">@menuItem.Title</a></li>
        }
    </ul>
}
else
{
    <p>No menu items available.</p>
}