@using Library.Domain.Entity
@model List<MenuItem>

@if (Model != null)
{
    <ul class="nav">
        @foreach (var menuItem in Model)
        {
            <li class="nav-item">
                <a class="nav-link" href="@menuItem.Url">@menuItem.Title</a>
            </li>
        }
    </ul>
}
else
{
    <p>No menu items available.</p>
}
