@using Library.Domain.Entity
@model Position

<h2>Edit Position</h2>

<form asp-controller="Position" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<p>
    <a asp-controller="Position" asp-action="Index">Back to List</a>
</p>